* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;

  background: #020604;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;
}

button,
input {
  font-family: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}